.header {
    height: 60px;
    width: 100%;
  }

  .nav-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: 	#F0F0F0;
    background: #505050;
    height: 50px;
  }

  .header-title{
    font-weight: 700;
    height: 100%;
    font-size: 30px;
    transition: 0.3s ease;
  }

  .header-title div:hover {
    padding: 9px 0;
  }

  .nav-main li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    display: inline;
    transition: 0.3s ease;
    margin-right: 30px;
    cursor: pointer;
  }

  .nav-main li:hover {
    padding: 9px 0;
  }

  @media screen and (max-width: 768px) {
    .nav-main {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: 	#F0F0F0;
      background: #505050;
      height: 50px;
    } 
  .header-title{
    font-weight: 700;
    height: 100%;
    font-size: 15px;
    transition: 0.3s ease;
  }

  .nav-main li {
    display: inline-block;
    list-style: none;
    font-weight: 500;
    font-size: 11px;
    transition: 0.3s ease;
    margin-right: 8px;
    cursor: pointer;
  }
}
